.navbar-inverse {
  background-color: $gray-lpc;
  height: 140px;
  transition: height;
  transition-duration: 0.5s;
  border: none;
}

.nav-home {
  display: inline-block;
}

.text-highlight-blue {
  box-shadow: inset 0px -16px 0px rgba(36, 113, 224, 1.0);
}

.text-highlight-blue-li {
  box-shadow: inset 0px -8px 0px rgba(36, 113, 224, 1.0);
}

.nav-home h1 {
  margin-top: 25px;
}

.navBarContainer {
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

#bs-nav-demo {
  width: 100%;
  margin-top: 30px;
  transition: margin-top;
  transition-duration: 0.5s;
}

.navBarContainer {
@media (min-width: $screen-width-md){
    padding-left: 215px;
    padding-right: 215px;
  };
}

.navBarContainer h1 ul {
  margin: 0;
  padding: 0;
}

.navBarContainer h1 {
  font-size: 43px;
  font-weight: 300;
  letter-spacing: 6px;
}

.navbar-right {
  margin-top: 35px;
}

.nav > li {
  text-transform: uppercase;
  letter-spacing: 4px;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
  color: $black-lpc;
}

.navbar-inverse .navbar-nav > li > a {
  color: $black-lpc;
  padding-top: 15px;
  padding-bottom: 0px;
}

.navbar-toggle {
  opacity: 1;
  visibility: visible;
  line-height: 1.455;
}

.navbar-toggle .icon-bar {
  height: 4px;
}

.icon-bar {
  margin-left: 95%;
}
